<%- include partials/header.ejs -%>

<h1>Compose</h1>
<form class="" action="/" method="post">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" id="exampleFormControlInput1" name="postTitle" type="text"  value="">
    <label class="form-label">Post</label>
    <textarea  class="form-control" id="exampleFormControlTextarea1" name="postBody" rows="4"></textarea>

  </div>

  <button type="submit" class="btn btn-primary btn-sm marginTop"  name="button">Publicar</button>

</form>

<%- include partials/footer.ejs -%>
